html * {
  font-family: Poppins, sans-serif;
}

.p-button {
  padding: 12px;
  margin-top: 28px;
  border: 1px solid #6171ff;
  box-sizing: border-box;
  border-radius: 8px;
  color: #396df2;
  text-align: center;
  max-width: 150px;
  background: white;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.menu-items {
  display: none;
}

.overlay { 
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  background: #6070FF;
  background-color: rgba(96, 112, 255, 0.902);

  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 2rem;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding: 1rem
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  font-size: 40px;
  top: 15px;
  right: 35px;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6070ff;
  border-radius: 100px 0 0 0;
  width: 100%;
  height: 785px;
  background-image: url(footerbackground.png);
  background-repeat: no-repeat;
  background-size: 63% 96%;
  background-position: center right;
}

.container2 {
  display: flex;
  flex-direction: column;
  background-image: url("header-shapesmobile.png");
  height: 587.15px;
  width: 100%;
  background-size: cover;
  background-color: white;
  border-radius: 0 0 0 100px;
  
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.grid-container2 {
  display: grid;
  margin-top: 5rem;
  width: 100%;
  background-color: white;
  border-radius: 0 100px 0 0;
}

body {
  width: 100%;
  height: auto;
  background: #e6e6e6;
  margin: 0;
}

.logoholder {
  order: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuholder {
  width: 40px;
  height: 40px;
  margin-right: 24px;
  margin-top: 26px;
  border-radius: 8px;
}

.a-lang {
  color: #6070ff;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.mylogo {
  position: static;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-top: 26px;
  text-decoration: none;
}

.headerholder {
  width: 327px;
  height: 150px;
  margin-left: 24px;
  margin-top: 5rem;
}

.head {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headtext {
  width: 327px;
  height: auto;
  left: 24px;
  margin-left: 24px;
  margin-right: 24px;
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.supporttext {
  order: 2;
}

.suptext {
  position: static;
  width: 117px;
  height: 24px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4e5cd4;
}

.suptext2 {
  position: static;
  width: 117px;
  height: 24px;
  margin-top: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4e5cd4;
}

.social {
  display: flex;
  order: 3;
  justify-content: space-between;
  margin-left: 24px;
  width: 170.17px;
  margin-top: 10px;
}

.social2 {
  display: flex;
  order: 3;
  justify-content: space-between;
  width: 170.17px;
  margin-top: 26px;
}

.card1 {
  width: 327px;
  margin: 1rem 1rem;
  margin-top: 5rem;
  border-radius: 16px;
  background-color: white;
}

.card1 .p-button {
  margin-bottom: 1rem;
}

.portfolio-image {
  position: static;
  width: 295px;
  height: 220px;
  margin-left: 16px;
  margin-top: 16px;
  background: url(SnapshootPortfolio.png);
  border-radius: 8px;
}

.portfolio-image2 {
  position: static;
  width: 295px;
  height: 220px;
  margin-left: 16px;
  margin-top: 16px;
  background: url(SnapshootPortfolio3.png);
  border-radius: 8px;
}

.portfolio-image3 {
  position: static;
  width: 295px;
  height: 220px;
  margin-left: 16px;
  margin-top: 16px;
  background: url(SnapshootPortfolio4.png);
  border-radius: 8px;
}

.portfolio-image4 {
  position: static;
  width: 295px;
  height: 220px;
  margin-left: 16px;
  margin-top: 16px;
  background: url(SnapshootPortfolio2.png);
  border-radius: 8px;
}

.portfolio-head {
  position: static;
  width: 295px;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
  order: 0;
}

.portfolio-head2 {
  position: static;
  width: 295px;
  height: 80px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
  order: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 236px;
  height: 32px;
  left: 0;
  margin-top: 12px;
  justify-content: space-between;
}

.canopy {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.backend {
  position: static;
  width: 88px;
  height: 16px;
  left: 0;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  position: static;
  width: 29px;
  height: 16px;
  left: 0;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #79859a;
}

.p-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 295px;
  height: auto;
  margin-left: 16px;
  margin-top: 12px;
}

.p-text {
  position: static;
  width: 295px;
  height: 76px;
  margin-top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 239px;
  height: 28px;
  top: 180px;
  justify-content: space-between;
}

.p-html {
  position: static;
  width: 65px;
  height: 28px;
  left: 0;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
}

.p-css {
  position: static;
  width: 57px;
  height: 28px;
  left: 61px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.p-javas {
  width: 103px;
  height: 28px;
  left: 114px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.card3 {
  width: 100%;
  margin-left: 24px;
  margin-top: 114px;
  margin-right: 24px;
}

.card3.p-button {
  margin-top: 10px;
}

.a-head {
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172c4f;
  order: 0;
}

.a-par {
  position: static;
  width: 327px;
  height: 144px;
  left: 0;
  margin-top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 0;
  order: 1;
}

.r-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 166px;
  height: 48px;
  left: 0;
  margin-top: 22px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  order: 3;
}

.r-button {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  left: 0;
  top: 0;
  order: 4;
  margin-bottom: 5rem;
}

.frame3 {
  width: 327px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.language {
  position: absolute;
  height: 24px;
  margin-left: 12px;
  margin-right: 78px;
  margin-top: 60px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  order: 0;
}

.frameworks {
  position: absolute;
  height: 24px;
  margin-left: 12px;
  margin-right: 78px;
  margin-top: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
}

.disabled {
  position: absolute;
  margin-right: 26px;
  margin-top: 53px;
  margin-left: 249px;
  border-radius: 8px;
  order: 1;
}

.l-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  width: 327px;
  left: 0;
  margin-top: 2rem;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 100px 0 0 0;
  width: 375px;
  height: 785px;
}

.white {
  background-color: #fff;
}

.foot form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

form input {
  width: 327px;
  height: 30px;
  border-radius: 8px;
  border: solid 1px #cfd8dc;
  padding: 10px 16px;
  margin-bottom: 18px;
}

label {
  display: none;
}

textarea {
  border-radius: 8px;
  width: 327px;
  height: 160px;
  border: none;
  margin-bottom: 8px;
  padding: 15px 16px;
}

.btn {
  border-radius: 8px;
  background-color: #fff;
  color: #4e5cd4; 
  width: 140px;
  height: 48px;
  border: none;
  align-self: start;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  transition-duration: 0.4s;
}

.btn:disabled {
  border-radius: 8px;
  background: #6070ff;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  width: 140px;
  height: 48px;
  align-self: start;
  margin-top: 15px;
  font-size: 17px;
  font-family: Poppins, sans-serif;
}

.contact-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  color: #fff;
  margin-top: 118px;
  margin-bottom: 0;
}

.contact-paragraph {
  height: 102px;
  width: 327px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  color: #ebebff;
  margin-bottom: 63px;
  margin-top: 12px;
  font-family: Poppins, sans-serif;
}

.l-list2 {
  display: none;
}

.frame21 {
  display: none;
}

.desktop {
  display: none;
}

.framed {
  display: none;
}

.p-textd {
  display: none;
}

.portfolio-head2d {
  display: none;
}

@media all and (min-width: 1025px) {
  body {
    width: 100%;
    height: auto;
    background: #e6e6e6;
    margin: 0;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-direction: row;
  }

  .logoholder {
    order: 0;
    margin-left: 12%;
  }

  .mylogo {
    position: static;
    width: auto;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    flex-grow: 0;
    margin-top: 2rem;
    text-decoration: none;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    background-image: url("desktopheaderbg.svg");
    background-repeat: no-repeat;
    height: 846px;
    width: 100%;
    background-color: white;
    border-radius: 0 0 0 100px;
    background-size: 97% 85%;
    background-position: center;
  }

  .headerholder {
    width: auto;
    margin-top: 18rem;
    margin-left: 18.05%;
    order: 0;
    display: flex;
    flex-direction: column;
  }

  .head {
    margin-top: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
  }

  .headtext {
    width: 63.9%;
    margin-left: 18.05%;
    margin-right: 18.05%;
    margin-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 0;
  }

  .supporttext {
    order: 2;
    margin-left: 18.05%;
    margin-top: 1.4%;
  }

  .suptext {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #4e5cd4;
    margin-left: 0;
  }

  .suptext2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #4e5cd4;
  }

  .social {
    display: flex;
    order: 3;
    justify-content: space-between;
    margin-left: 18.05%;
    width: 170.17px;
    margin-top: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .grid-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
  }

  .card1 {
    display: flex;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    align-items: center;
    padding: 0.2rem 1rem;
    justify-content: space-between;
    width: 80%;
    margin-top: 10%;
  }

  .portfolio-image {
    background: url("SnapshotPortfoliodesk.png");
    order: 0;
    width: 544px;
    height: 448px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
  }

  .p-layout {
    display: flex;
    flex-direction: column;
    order: 0;
    width: 50%;
    margin-left: 2rem;
    align-self: flex-start;
  }

  .framed {
    display: flex;
    align-items: center;
    padding: 0;
    position: static;
    width: 297px;
    height: 40px;
    justify-content: space-between;
  }

  .p-textd {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: 496px;
  }

  .p-text {
    display: none;
  }

  .canopy {
    position: static;
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .p-button {
    float: left;
    margin-left: 0;
  }

  .backend {
    position: static;
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .year {
    position: static;
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #6a768a;
  }

  .lang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: left;
    width: auto;
    height: 24px;
    gap: 1rem;
  }

  .portfolio-image2 {
    background: url("SnapshotPortfolio2.png");
    width: 544px;
    height: 448px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.2rem;
    order: 1;
  }

  .portfolio-image3 {
    background: url("SnapshotPortfolio3.png");
    order: 0;
    width: 544px;
    height: 448px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
  }

  .portfolio-image4 {
    background: url("SnapshotPortfolio4.png");
    width: 544px;
    height: 448px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    order: 1;
  }

  .grid-container2 {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 0 100px 0 0;
    justify-content: flex-start;
  }

  .card3 {
    width: 31%;
    margin-left: 10%;
  }

  .a-par {
    width: auto;
    height: auto;
  }

  .social2 {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .l-list {
    display: none;
  }

  .l-list2 {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    gap: 20px;
    width: 414px;
    margin-top: 2rem;
  }

  .frame21 {
    display: block;
    align-self: center;
    width: 49%;
    margin-top: 3rem;
  }

  .frame3 {
    display: flex;
    justify-content: space-between;
  }

  .disabled {
    margin-left: 45%;
  }

  .white {
    background-color: white;
    width: 100%;
  }

  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6070ff;
    border-radius: 100px 0 0 0;
    width: 100%;
    margin-top: 8rem;
    background-image: url("contactformbackgroundd.png");
    background-position: center bottom;
    background-size: 90% 85%;
  }

  .foot form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
    align-items: center;
  }

  .contact-text {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: white;
    margin-top: 8rem;
    margin-bottom: 0;
  }

  .contact-paragraph {
    width: 38%;
    text-align: center;
    color: #ebebff;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  form input {
    width: 100%;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    color: #172b4d;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 18px;
    padding-left: 10px;
  }

  form textarea {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    padding-left: 10px;
    height: 150px;
  }

  .btn {
    border-radius: 8px;
    background-color: #fff;
    color: #4e5cd4; 
    width: 140px;
    height: 48px;
    border: none;
    align-self: center;
    margin-top: 15px;
    font-size: 17px;
    font-family: Poppins, sans-serif;
    transition-duration: 0.4s;
    margin-bottom: 2rem;
  }

  .btn:hover {
    border-radius: 8px;
    background: #6070ff;
    color: white;
  }

  .p-button:hover {
    background: #6070ff;
    color: white;
  }

  .btn:disabled {
    border-radius: 8px;
    color: #5e6c84;
    border: 1px solid #c1c7d0;
    box-sizing: border-box;
    width: 140px;
    height: 48px;
    margin-top: 15px;
    font-size: 17px;
    font-family: Poppins, sans-serif;
    background: white;
  }

  .frame2 {
    display: none;
  }

  .mobile {
    display: none;
  }

  .a-lang {
    color: #4e5cd4; 
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bolder;
    background: #ebebff;
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem;

  }

  .menu-items {
    display: flex;
    margin-right: 12%;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    margin-top: 2rem;
  }

  a.menu-items {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .menuholder {
    display: none;
  }

  a {
    text-decoration: none;
  }

  .portfolio-head2 {
    display: none;
  }

  .portfolio-head {
    display: none;
  }

  .portfolio-head2d {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .frame {
    display: none;
  }
}
